body {
  margin-left: 10px;
  font-family: "arial", serif;
}
.base-class {
  border-width: 8px;
  border-top-style:solid;
  border-right-style:solid;
  border-left-style:solid;
  padding: 2px 50px 30px;
}
.winter {
  background-color: white;
}
.spring {
  background-color: palegreen;
}
.summer {
  background-color: orange;
}
.fall {
  background-color: brown;
}