body {
  background-color: white;
  font-family: "Comic Sans MS", serif;
}

h1 {
  font-weight: 800;
  font-size: 43px;
  margin-bottom: 15px;
}

h2 {
  font-size: 24px;
}
.container {
  border-top: thin solid black;
  border-bottom: thin solid black;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.20);
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px 65px;
}
.inputs ul li {
  padding: 2px
}
/*
* {
  outline: 1px solid orange;
}
